==> {{ op1 }} {{ operator }} {{ op2 }} {{ result !== null ? '=' : '' }} {{ result }}
<br>
<button type="button" (click)="addValue(1)">1</button>
<button type="button" (click)="addValue(2)">2</button>
<button type="button" (click)="addValue(3)">3</button>
<br>
<button type="button" (click)="addValue(4)">4</button>
<button type="button" (click)="addValue(5)">5</button>
<button type="button" (click)="addValue(6)">6</button>
<br>
<button type="button" (click)="addValue(7)">7</button>
<button type="button" (click)="addValue(8)">8</button>
<button type="button" (click)="addValue(9)">9</button>
<br>

Operator
<br>
<button type="button" (click)="setOperator('+')">+</button>
<button type="button" (click)="setOperator('-')">-</button>
<button type="button" (click)="setOperator('*')">*</button>
<button type="button" (click)="setOperator('/')">/</button>
<br>
<button type="button" (click)="clear()">C</button>
<button type="button" (click)="calc()">Calc</button>

