<div class="container mt-5">
    <h3 class="font-weight-bolder mb-4">TShirt Shoping is awesome</h3>
    <div class="w-100 text-right">
        <button type="button" class="btn btn-primary mb-2" (click)="isShowImage = !isShowImage">
            {{ isShowImage ? 'Hide image' : 'Show image' }}
        </button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th *ngIf="isShowImage">Product photos</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Stock</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td *ngIf="isShowImage">
                    <img [src]="item.image_front" alt="" class="product-image image-front">
                    <img [src]="item.image_back" alt="" class="product-image image-back">
                </td>
                <td> {{ item.product_name }}</td>
                <td> {{ item.price | productPriceEasy }} USD</td>
                <td [ngClass]="item.stock < 40 ? 'text-danger' : 'text-success'"> {{ item.stock }}</td>
            </tr>
        </tbody>
    </table>
</div>


